.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dg1 {
  text-align: center;
    padding: 7px 4px;
    border: 3px solid #ededed;
    border-radius: 15px;
}
.dg2 {
  padding: 3px 10px;
    text-transform: uppercase;
    background: #ededed;
    border-radius: 10px;
}
@media (max-width:992px){
  .card {
    width:100% !important;
  }
  .card-image {
    height:auto !important;
  }
}

.card {
  height:auto;
  width:30%;
  background-color: #ededed;
  margin:10px;
  border:5px solid #ededed;
  border-radius:20px;
}
.btn-parent {
  padding:10px;
  margin:0px;
}
.card-img {
  width:100%;
  height: auto;
}
.card-image {
  width:100%;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  overflow:hidden;
  height: 200px;
}
.card-title {
  padding:5px 20px;
  margin:0px;
}
.card-subtitle {
  font-weight: bold;
  color: #3d3d3d;
}
.card-desc {
  padding:5px 20px;
  margin:0px;
  text-align:justify;
}
.card-btn {
  background:#0044ff;
padding:6px 12px;
color:#fff;
border-radius:20px;
font-weight:bold;
border:2px solid #fff;
}
.container {
  width:90%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
}
